// header
.custom-header {
  --background: transparent;
  margin-right: 100px;

  ion-toolbar {
    --background: transparent;
    background: rgb(166, 166, 166); /* Blanco semitransparente */
  }
}

.logo-header{
  height: 100px; // o el alto que prefieras
  max-height: 100%;
}


// body
ion-content {
  --padding-top: 5px;
  --background: #ffffff; // Fondo blanco
  --color: #000000; // Texto negro
  
}

